/* global */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0F110C;
    color: #DED9E2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Sigmar One', cursive;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

/* hero section */

.hero {
    height: 85vh;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0vh;
    z-index: -999;
}

.navn {
    cursor: default;
    color: #fff;
    margin-top: 15vh;
    opacity: 0.8;
}

.navn h1{
    margin-left: 7vw;
    padding: 0;
    font-size: 7vw;
    text-shadow: black 0 0 0;
}

/* text */

.side {
    padding: 10% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.TXT {
    grid-area: txt;
    max-width: 30rem;
}

/* text med bildegrid */

.gall1wrapper {
    display: flex;
    justify-content: center;
}

.gall1 {
    max-width: 60rem;
    padding: 10% 15%;
    display: grid;
    grid-template-areas: 
    "img txt"
    ;
}

.gall1TXT {
    grid-area: txt;
    padding-top: 5rem;
}

.perwrapper {
    perspective: 1500px;
}

.gall1IMG {
    display: grid;
    transform: rotateY(30deg);
    transform-style: preserve-3d;
    grid-template-rows: repeat(2);
    grid-template-columns: repeat(2, 25rem);
    grid-gap: 1rem;
    grid-row-gap: 1rem;
    transition: all 0.6s;
}

.gall1IMG:hover {
    scale: 1.2;
    transform: rotateY(0deg);
}

.gridIMG {
    height: 0;
    padding-bottom: 56.25%;
    border-radius: 25px;
    transition: scale 0.4s;
}

.gridIMG:hover {
    scale: 1.1;
    z-index: 1;
    box-shadow: 0 0 5px #18F578, 0 0 10px #18F578, 0 0 15px #18F578, 0 0 20px #18F578;
}

.blend1 {
    background-image: url(../img/scp_corridor7.png);
    background-position: center;
    background-size: cover;
}

.blend2 {
    background-image: url(../img/chess4.png);
    background-position: center;
    background-size: cover;
}

.blend3 {
    background-image: url(../img/unreal5.png);
    background-position: center;
    background-size: cover;
}

.blend4 {
    background-image: url(../img/spider2.png);
    background-position: center;
    background-size: cover;
}

.prosjekter {
    text-align: center;
}

.prosjekter h1 {
    padding-top: 10vh;
}

.prosjekter p {
    margin: 0 70vh 8vh 70vh;
}

.prosjekter img {
    height: 30vh;
    width: auto;
    border-radius: 25px;
    margin-bottom: 15vh;
    transition: scale 0.3s;
}

.prosjekter img:hover {
    scale: 1.2;
    box-shadow: 0 0 5px #18F578, 0 0 10px #18F578, 0 0 15px #18F578, 0 0 20px #18F578;
}

.gall2wrapper {
    display: flex;
    justify-content: center;
}

.gall2 {
    max-width: 60rem;
    padding: 10% 15%;
    display: grid;
    grid-template-areas: 
    "txt img"
    ;
}

.gall2TXT {
    grid-area: txt;
    padding-top: 5rem;
    max-width: 30rem;
}

.gall2IMG {
    display: grid;
    transform: rotateY(-30deg);
    transform-style: preserve-3d;
    grid-template-rows: repeat(2);
    grid-template-columns: repeat(2, 25rem);
    grid-gap: 1rem;
    grid-row-gap: 1rem;
    transition: all 0.6s;
}

.gall2IMG:hover {
    scale: 1.2;
    transform: rotateY(0deg);
}

.pic1 {
    background-image: url(../img/jumpTrampoline.png);
    background-position: center;
    background-size: cover;
}

.pic2 {
    background-image: url(../img/boks.jpg);
    background-position: center;
    background-size: cover;
}

.pic3 {
    background-image: url(../img/fugl.png);
    background-position: center;
    background-size: cover;
}

.pic4 {
    background-image: url(../img/papp.png);
    background-position: center;
    background-size: cover;
}

.gall3 {
    padding: 10% 15%;
    background-color: rgba(0, 0, 0, 0.5) /*rgba(38, 23, 51, 0.8)*/;
}

.gall3 h1 {
    text-align: center;
    margin-bottom: 5vh;
}

.gall3 p {
    font-size: 1rem;
}

.uekGrid {
    display: grid;
    grid-gap: 3vh;
    grid-template-areas: 
    'utdanning erfaring kurs'
    ;
}

.uekGrid ul {
    padding: 10%;

    background: #0F110C;
    border-radius: 25px;
    height: 40vh;
}

.uekGrid ul a, .footer ul a {
    color: #DED9E2;
    text-decoration: none;
    transition: color 0.1s;
}

.footer ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 3vh 3vh;
}

.uekGrid ul a:hover, .footer ul a:hover {
    color: #18F578;
}

.uekGrid ul a:active, .footer ul a:active {
    color: #fff;
    text-shadow: 0 0 5px #18F578, 0 0 10px #18F578, 0 0 15px #18F578, 0 0 20px #18F578;
}

.uekGrid li {
    margin-bottom: 3vh;
}

.kontakt {
    padding: 10% 15%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.kontakt h1 {
    font-size: 10vh;
}

.kontakt a {
    text-decoration: none;
    color:#DED9E2
}

.mail {
    margin-top: 5vh;
    font-size: 15vh;
    transition: all 0.4s;
}

.mail:hover {
    scale: 1.1;
    color: #fff;
    text-shadow: 0 0 5px #18F578, 0 0 10px #18F578, 0 0 15px #18F578, 0 0 20px #18F578;
}

.backgroundWrapper {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.footer {
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}

.btn {
    padding: .9rem;
    border-radius: 10px;
    font-size: 1.2rem;
    max-width:fit-content;
    font-family: 'Sigmar One', cursive;
    cursor: pointer;
}

.btn:hover {
    background-color: #DED9E2;
}

.ylo-btn {
    background-color: #F5A518;
    color: #0F110C;
}

.grn-btn {
    background-color: #18F578;
    color: #0F110C;
}

.ylo {
    color: #F5A518;

}

.grn {
    color: #18F578;

}

.small {
    font-size: 2.5rem;
}

::selection {
    background: rgba(24, 245, 120, 0.8); /* WebKit/Blink Browsers */
  }


::-moz-selection {
    background: rgba(24, 245, 120, 0.8); /* Gecko Browsers */
}

/*
font-family: 'Flow Circular', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sigmar One', cursive;
*/